body {
  font-family: Helvetica;
  line-height: 24px; }

.alf-grid {
  position: relative;
  height: 236px;
  border: 1px solid #000;
  margin-bottom: 20px; }

[class*=alf-col-] {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 150px;
  margin-bottom: 5px;
  background-color: #888;
  color: #FFF;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center; }

.alf-col-top {
  margin-top: 5px; }

.alf-col-bottom {
  margin-bottom: 5px; }

.alf-col-1 {
  left: 5px; }

.alf-cols-1 {
  width: 160px; }

.alf-colspan-1 {
  width: 150px; }

.alf-col-2 {
  left: 160px; }

.alf-cols-2 {
  width: 315px; }

.alf-colspan-2 {
  width: 305px; }

.alf-col-3 {
  left: 315px; }

.alf-cols-3 {
  width: 470px; }

.alf-colspan-3 {
  width: 460px; }

.alf-col-4 {
  left: 470px; }

.alf-cols-4 {
  width: 625px; }

.alf-colspan-4 {
  width: 615px; }

.alf-col-5 {
  left: 625px; }

.alf-cols-5 {
  width: 780px; }

.alf-colspan-5 {
  width: 770px; }

.alf-col-6 {
  left: 780px; }

.alf-cols-6 {
  width: 935px; }

.alf-colspan-6 {
  width: 925px; }

.alf-col-7 {
  left: 935px; }

.alf-cols-7 {
  width: 1090px; }

.alf-colspan-7 {
  width: 1080px; }

.alf-col-8 {
  left: 1090px; }

.alf-cols-8 {
  width: 1245px; }

.alf-colspan-8 {
  width: 1235px; }

.alf-col-9 {
  left: 1245px; }

.alf-cols-9 {
  width: 1400px; }

.alf-colspan-9 {
  width: 1390px; }

.alf-col-10 {
  left: 1400px; }

.alf-cols-10 {
  width: 1555px; }

.alf-colspan-10 {
  width: 1545px; }
